doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes")
    script(type='text/javascript' src='../address-autocomplete.js')
    title address-autocomplete demo
    link(rel="import", href="../address-autocomplete.html")
    link(rel='icon', sizes='16x16 32x32 48x48 64x64', href='favicon.ico')
    custom-style
      style(is="custom-style", include="demo-pages-shared-styles").
        h2 {
        margin-top: 3rem;
        }
        .themeBlueSharp div, .themeBlueSharp form {
          padding: none;
          margin: none;
          border: none;
        }
        .themeBlueSharp input,.themeBlueSharp input:focus {
          margin-bottom: 0.25rem;
          border: none;
          background: lightblue;
          padding: 0.2rem;
          color: black;
          border-radius: 5px;
        }
        .themeBlueSharp input:not([value=""]) {
          border: none;
          border-bottom: 1px dotted rgba(192, 192, 192, 0.45);
        }
        .themeBlueSharp input[value=""] {
          border-bottom: 1px solid darkblue;
        }
        .themeBlueSharp .line * {
          flex: 1;
        }
        .themeBlueSharp form .line {
          display: flex;
        }
        .themeBlueSharp address-autocomplete {
          --searchBox-normal-bg-color: lightblue;
          --searchBox-recording-bg-color:  rgb(0, 0, 214);
          --searchBox-recording-color: white;
          --searcBox-normal-border-radius: 5px;
          --searcBox-recording-border-radius: 5px;
          --searchBox-normal-microphoneIcon-fill: lightblue;
          --searchBox-recording-microphoneIcon-fill: rgb(0, 0, 214);
        }
    script.
      function setAddress(address) {
        console.log(address);
        document.getElementById('name').value = address.name || '';
        document.getElementById('street').value = address.street || '';
        document.getElementById('housenumber').value = address.housenumber || '';
        document.getElementById('zipcode').value = address.postcode || '';
        document.getElementById('zipcode').text = address.postcode || '';
        document.getElementById('city').value = address.city || '';
        document.getElementById('country').value = address.country || '';
      }

  body
    .themeBlueSharp
      h2 custom styled example
      address-autocomplete.myStyles(processaddressfunction="setAddress")
      form(style="margin-top: 1rem;")
        .line
          input#name(placeholder="Name")
        .line
          input#street(placeholder="street")
          input#housenumber(placeholder="housenumber")
        .line
          input#zipcode(placeholder="zipcode")
          input#city(placeholder="city")
        .line
          input#country(placeholder="country")
